header {
    height: 30px;
}

.main {
    padding: 10px;
    /* height: 100%; */
    background-image: linear-gradient(#2a6496, #fff  70%, #011852);
    background-position: bottom;
    margin-bottom: 40px;
    min-height: 100vh;
}

.header_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-color2)
}

.footer_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color)
}
.header_item i {
    font-size: 1.8rem;
}

.header_item_hello {
    font-size: 1.4rem;
}

.header_item_fullname {
    font-weight: 500;
}

.container_main_title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
}

.container_sub_title {
    display: flex;
    justify-content: center;
    color: var(--text-color2);
    margin-bottom: 10px;
    margin-top: 5px;
}

.container_number_ticket {
    background-color: var(--text-color2);
    color: var(--white-color);
    width: 50px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.1rem;
}

.container_block_mission_item {
    background-color: var(--text-color2);
    color: var(--white-color);
    width: 70%;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    min-height: 80px;
    border-right: 1px solid var(--text-color2);
    margin-bottom: 10px;
}

.container_block_mission_item_done {
    background-color: #bb2657eb;
    color: var(--white-color);
    width: 70%;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    min-height: 80px;
    border-right: 1px solid var(--text-color2);
    margin-bottom: 10px;
}

.container_block_mission_item_title {
    color: #edd6b8;
    font-size: 1.4rem;
    font-weight: 400;
}

.container_block_mission_item_child1 {
    position: absolute;
    width: 20%;
    background-color: #6f0c2c;
    height: 100%;
    top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    right: -48px;
}
.container_block_mission_item_child2 {
    position: absolute;
    width: 216%;
    background-color: #8d0f38;
    height: 80%;
    top: 10%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    right: -119%;
}

.container_block_mission_item_child2_done {
    position: absolute;
    width: 216%;
    background-color: #bb2657eb;
    height: 80%;
    top: 10%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    right: -119%;
}

.container_block_mission_item_child2_button {
    position: absolute;
    background-color: #c0873e;
    color: var(--white-color);
    width: 100px;
    height: 45%;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    top: 25%;
    margin-left: 4%;;
}

.container_block_mission_item_child2_text {
    position: absolute;
    color: var(--white-color);
    width: 100px;
    height: 45%;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    top: 25%;
    margin-left: 4%;
}

.container_block_mission_item_description {
    font-size: 1.2rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

.footer_item {
    background-color: #306999;
    width: 34%;
    height: 50px;
    text-align: center;
    padding-top: 17px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

.footer_item a {
    text-decoration: none;
    color: var(--white-color)
}

.footer_icon {
    /* position: absolute; */
}

.footer_item_active a {
    /* height: 60px; */
    /* background-color: #4e7fa8; */
    color: #c0873d;
}

.container_block_mission_item_child2_time {
    text-align: center;
    bottom: 5px;
    position: absolute;
    width: 100%;
}

.modal-out-of-ticket-form__body-image img {
    width: 80%;
}

.modal-out-of-ticket-form__heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #580820;
}

.modal-out-of-ticket-form__body-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #c0873e;
}

.modal-out-of-ticket-form__body-image {
    text-align: center;
}

.modal-out-of-ticket-form__body-wrap-button {
    display: flex;
    justify-content: space-around;
}

/* cart and ticket */
.title {
    text-align: center;
    padding: 50px 0px 25px 0;
    font-size: 44px;
    font-weight: 600;
    color: #21222c;
}
.wrapper {
  background-color: #f6f8ff;
  width: 100%;
  /* min-height: 100vh;
  min-width: 90vh; */
  background: transparent;
  opacity: 1;
}

.wrapper.pre  {
    background-size: cover !important;
    background: url(https://images.unsplash.com/photo-1523633589114-88eaf4b4f1a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);
    background: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2896&q=80);
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 0.75;
  background: url(https://assets.codepen.io/4927073/mybg.jpg);
}


.wrapper .line {
  width: 50%;
  margin: 25px auto 0 auto;
  height: 1px;
  background-color: #c3d2e3;
}
h2.tab-title {
  font-weight: 300;
}
h2.tab-title.tab-primary {
  color: #636983;
}
h2.tab-title.tab-success {
  color: #51a14c;
}
h2.tab-title.tab-default {
  color: #525252;
}
h2.tab-title.tab-warning {
  color: #b12222;
}
.container {
    width: 100%;
    text-align: center;
    margin: auto;
    min-height: 140px;
}
.container .card {
  max-width: 600px;
  min-height: 140px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  margin: 0 auto;
}
.tabs {
  text-align: left;
  position: relative;
}
.tabs input {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.tabs input + label {
  font-weight: 300;
  color: #666;
  margin: 10px 0;
  width: 110px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  text-align: center;
  font-size: 12px;
  border: none;
}
.tabs input + label:hover {
  color: #777;
}
.tabs .tabsShadow {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  position: absolute;
  height: 35px;
  z-index: 0;
  top: 0;
  pointer-events: none;
}
.content {
  margin: 0px auto;
  text-align: left;
  color: #666;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  min-height: 70vh;
  background: hsl(232deg 16% 15%);
}
.content .item {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
}
.content p {
  margin: 10px 0;
}
.glider {
  width: 110px;
  height: 3px;
  background: linear-gradient(90deg, #5b3cc4 0%, #3c6cc4 100%);
  border-radius: 3px;
  position: absolute;
  box-shadow: 0px 0px 8px 0px rgba(91, 60, 196, 0.4);
  transition: all 0.3s;
}
#tab-1:checked ~ .glider {
  left: 0px;
}
#tab-2:checked + label {
    color: #8d0e38;
    background-color: #f0dabd;
}
#tab-2:checked ~ .glider {
  /* background: linear-gradient(90deg, #51a14c 0%, #10c33e 100%);
  box-shadow: 0px 0px 8px 0px rgba(47, 187, 12, 0.62); */
}
#tab-2:checked ~ .glider {
  left: 113px;
}
#tab-3:checked + label {
  color: #525252;
}
#tab-3:checked ~ .glider {
  background: linear-gradient(90deg, #4a4a4a 0%, #9b9b9b 100%);
}
#tab-3:checked ~ .glider {
  left: 226px;
}
#tab-4:checked + label {
  color: #b12222;
}
#tab-4:checked ~ .glider {
  background: linear-gradient(90deg, #b93232 0%, #ff5d5d 100%);
  box-shadow: 0px 0px 8px 0px rgba(231, 13, 93, 0.57);
}
#tab-4:checked ~ .glider {
  left: 339px;
}
#tab-1:checked ~ section #content-1,
#tab-2:checked ~ section #content-2,
#tab-3:checked ~ section #content-3,
#tab-4:checked ~ section #content-4 {
  opacity: 1;
  visibility: visible;
  width: 94%;
}
@media (max-width: 700px) {
  .tabs input + label,
  .glider {
    width: 115px;
  }
  #tab-1:checked ~ .glider {
    left: 0px;
  }
  #tab-2:checked ~ .glider {
    left: 73px;
  }
  #tab-3:checked ~ .glider {
    left: 146px;
  }
  #tab-4:checked ~ .glider {
    left: 219px;
  }
}

.tabs input + label {
    margin: 12px 0px;
    width: 38%;
    color: #c17e28;
    -webkit-box-pack: center;
    padding: 5pt 10pt;
    background: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    background: #26292C;
    margin-bottom: 0px;
    border-radius: 7px 7px 0 0 !important;
}

.content {
    margin: 0px 15px;
    text-align: left;
    color: #666;
    font-size: 13px;
    position: relative;
    /* min-height: 78vh; */
    background-color: #f0d9bd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 35px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    padding-left: 9px;
    z-index: 2;
    overflow: auto;
}
.container .card {
    background: #c17e28;
    padding-bottom: 15px
}

.content p {
    margin: 10px 15px 10px 0;
    letter-spacing: 0.75px;
    font-size: 14pt;
    font-style: normal;
    color: #f0f2fc;
    line-height: 30px;
    margin-top: 10pt;
    font-weight: 300 !important;
}
h2.tab-title.tab-warning,
h2.tab-title.tab-success,
h2.tab-title.tab-primary,
h2.tab-title.tab-default {
  display: inline-flex;
  color: #fff;
  background: linear-gradient(55deg, #f37 0%, #f93 80%);
  background-position: bottom center;
  margin-bottom: 0pt !important;
  margin-top: 6pt;
  height: 22pt;
    text-fill-color: transparent !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
      text-transform: capitalize;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 800 !important;

}
.tab-success {
    margin-left: -18px !important;
}

h2.tab-title.tab-primary {
    background: linear-gradient(55deg, #5E18FF, #750EFF);
}

h2.tab-title.tab-success {
    background: linear-gradient(10deg, #02CE85, #02CEAB);
}

h2.tab-title.tab-primary {
    background: linear-gradient(300deg, hsl(205deg 100% 50%), hsl(215deg 100% 50%), hsl(245deg 100% 55%), #750EFF);
  background: linear-gradient(60deg, hsl(202deg 100% 75%),hsl(205deg 100% 64%),hsl(230deg 100% 75%), hsl(270deg 100% 72%));
}

h2.tab-title.tab-warning {
    background: linear-gradient(70deg, #C51574, #97389B);
}

.tabs input {
  position: relative;
  opacity: 0;
  margin: auto !important;
  padding: 0;
}
label.tab.tab-primary {
  border-radius: 6pt 0 0 6pt;
}
label.tab.tab-warning {
  border-radius: 0 6pt 6pt 0;
}
#tab-1:checked + label {
    color: #8d0e38;
    background-color: #f0dabd;
}
#tab-3:checked + label {
  color: #ffadfa;
  color: #ffaa75;
}
#tab-4:checked + label {
  color: #ffadfa;
}
#tab-1:checked ~ .glider {
  left: 6.6%;
}

#tab-2:checked ~ .glider {
    left: 34.85%
}
.glider {
    /* width: 30%;
    padding: 0px 13px;
    position: absolute;
    background: #c07e28;
    top: 43px;
    z-index: 2; */
}

span.numit {
    font-size: 12pt;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 0.5px #e7e9f5;
    color: #0e101a;
    margin-right: 2px;
    margin-left: -2px;
    padding: 0;
    color: aliceblue;
    text-shadow: 0.5pt 0.5pt 0.5pt #2d3748;
}

.table-header {
    list-style: none; 
    display: flex;
    justify-content: space-between;  
    width: 100%;
}
.table-body {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 8px;
    margin-top: -9px;
}

.table-header-item {
    width: 33%;
    background-color: #bf7c26;
    padding: 8px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #8d0e38;
    text-align: center;
}
.table-body-item {
    padding: 4px;
    width: 33%;
    color: var(--text-color2);
}

.table-body-item-quality {
    color:#0b8e03
}

/* LUCKY WHEEL  */
/* Sets the background image for the wheel */
.the_wheel
{
    /* background-image: url(wheel_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    /* background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    width: 100%;
}

#container {
    height: 100%;
    width:100%; 
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* .btn {
    padding: 10px 20px;
} */

.hide {
    display: none;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

.wrap-lucky-draw {
    position: relative;
    /* width: 450px; */
    /* padding-top: 10%; */
}

.specify-button {
  width: 50px;
  height: 40px;
}

.wrap-specify-button {
  width: 100%;
  position: relative;
}


.wrap-lucky-draw-btn {
    position: absolute;
    width: 100%;
    bottom: 25%;
    z-index: 100;
}

.wrap-lucky-draw-btn-item {
    /* border-radius: 50%;
    width: 70px;
    height: 70px;
    border: none;
    background-color: #cccccc;
    font-weight: bold; */
}

.wrap-canvas {
  background-color:#8d0f38;
  height: 402px;
  position: absolute;
  border-radius: 100%;
}

#canvas {
  width: 392px;
  position: relative;
  top: -100px;
}
@media only screen and (min-width: 200px) and (max-width: 767px)  {
    .wrap-lucky-draw {
        position: relative;
        /* width: 700px; */
        width: 360;
    }
    .wrap-lucky-draw-btn {
      position: absolute;
      width: 100%;
      bottom: 20%;
    }
    .wrap-specify-button {
      width: 100%;
      position: relative;
    }

    #canvas {
      width: 300px;
    }
}


